<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
      <diagnostics>
        <messageLogging logMessagesAtTransportLevel="true" logMessagesAtServiceLevel="true" logMalformedMessages="true" logEntireMessage="true" maxSizeOfMessageToLog="65535000" maxMessagesToLog="500"/>
      </diagnostics>
      
        <bindings>
            <basicHttpBinding>
                <binding name="DUO_VOInformatiediensten_IdentificerenPersoonVO_V1.0_Binding" />
                <binding name="DUO_VOAanlevering_InschrijvingVO_V1.0_Binding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="customBinding1">
                    <context protectionLevel="Sign" />
                    <security defaultAlgorithmSuite="Basic256Sha256" allowSerializedSigningTokenOnReply="true"
                        authenticationMode="MutualCertificateDuplex" includeTimestamp="true" />
                    <textMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport requireClientCertificate="true" />
                </binding>
            </customBinding>
        </bindings>
      <client>

        <endpoint address="http://www.w3.org/2005/08/addressing/anonymous?oin=00000001800866472000"
          behaviorConfiguration="SecureClientBehavior" binding="customBinding" bindingConfiguration="customBinding1"
          contract="MHSClient.DUO_VOInformatiediensten_IdentificerenPersoonVO_V10_PortType" name="customBinding1">
          <identity>
            <dns value="xml-test.duo.nl"/>
          </identity>
        </endpoint>
      </client>
      <behaviors>
        <endpointBehaviors>
          <behavior name="SecureClientBehavior">
            <clientVia viaUri="https://xml-test.duo.nl:6940/vo-webservices/" />
            <clientCredentials>
              <clientCertificate findValue="vovavo.duo.nl" x509FindType="FindBySubjectName" storeLocation="CurrentUser" storeName="My" />
              <serviceCertificate>
                <defaultCertificate findValue="xml-test.duo.nl" x509FindType="FindBySubjectName" storeLocation="CurrentUser" storeName="My" />
              </serviceCertificate>
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
      
    </system.serviceModel>
  

  <!-- nodig voor logging-->
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="false">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="wcf.svclog"/>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <!-- nodig voor logging-->
</configuration>